<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleCoreDataEx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC24254A1DD1AEF800F0C7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC2425611DD1AEF800F0C7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC24256C1DD1AEF800F0C7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
